/**
 * @author [townmi]
 */

html, body, ul, h1, h2, h3, h4, h5, h6, ol, p {
	margin: 0;
	padding: 0;
}
li{
	padding: 0;
	margin: 0;
	list-style:none;
}
em{
	font-style: normal;
}
body{
	font-family: "arial";
}
input,button,select,textarea{
	outline: none;
	padding: 0;
	border: none;
}
textarea{
	resize: none
}
a{
	text-decoration: none;
}

.clear:after{content: ''; display: block; clear: both;}
.clear{zoom: 1;}