/*
 * @author harrytang@vipabc.com 
 * @date 16/9/26.
 */
@import "../../styles/mixin";

.#{$baseName}-card {
    @include inline-block(true);
    width: 100%;
    position: relative;
    cursor: pointer;
    @include box-shadow(0 1px 4px 0 rgba(0,0,0,0.14));
}