/*
 * @author harrytang@vipabc.com 
 * @date 16/11/4.
 */

@import "../../../../styles/mixin";

.#{$baseName}-index-banner {
    .#{$baseName}-center {
        position: relative;
    }
    ._cell {
        width: calc(100% + 24px);
        position: absolute;
        left: -24px;
    }
    .#{$baseName}-card {
        margin-left: 24px;
        width: calc(25% - 24px);
    }
}